numpy~=1.21.6
matplotlib==3.2.2
plotly==4.4.1

wandb~=0.12.15
tensorflow-probability
tensorflow-addons
requests~=2.27.1
pathy~=0.6.1
comet_ml
natsort~=8.1.0
tqdm~=4.64.0
umap-learn
scikit-learn~=1.0.2
imageio~=2.17.0
gym~=0.23.1
IPython~=8.4.0


tensorflow>=2.8.0
attrs~=22.1.0
Pillow~=9.1.0
